<section
  class="flex flex-col items-center shadow-xl shadow-transparent-2 bg-white overflow-auto w-full pb-1 m-4">
  <div
    class="flex-column sticky inset-0 background-color-white w-full justify-end z-10">
    <mat-paginator
      [length]="rowCount$ | async"
      [pageSize]="pageSize"
      (page)="paginatorUpdate($event)"
      hidePageSize="true">
    </mat-paginator>
    <mat-divider class="w-full color-black p-0"></mat-divider>
  </div>
  <ng-container *ngIf="(isLoading$ | async) === false; else loading">
    <app-mapping-table
      *ngIf="tableData$ | async as tableData"
      [rows]="tableData.rows"
      [columns]="tableData.columns"
      [editable]="true"
      (updateRow)="updateRow($event)">
    </app-mapping-table>
  </ng-container>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>

  <section class="self-end flex flex-row items-center">
    <button
      mat-raised-button
      color="primary"
      class="self-end mx-4"
      [disabled]="isLoading$ | async"
      (click)="submit()"
      type="button">
      Confirm SNOMED Mapping
    </button>
  </section>
</section>
