<section
  class="flex flex-row overflow-y-auto w-full p-0"
  [style]="{ 'min-height': '130px' }">
  <app-mapping-table
    [columns]="columns"
    [rows]="[row]"
    [editable]="false"></app-mapping-table>
</section>

<section class="w-full">
  <div class="flex flex-row" id="foo">
    <div class="grow"></div>
    <mat-form-field appearance="fill" class="grow m-2 bottom-padding">
      <mat-label>Search</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <mat-icon matSuffix class="cursor-pointer" (click)="clearSearch()"
        >clear
      </mat-icon>

      <input
        matInput
        autocomplete="off"
        [(ngModel)]="searchQuery"
        (keydown.enter)="submitSearch()" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="m-2 bottom-padding">
      <mat-label>search by semantic Tag</mat-label>
      <mat-select
        [(ngModel)]="searchSemanticTag"
        (selectionChange)="submitSearch()">
        <mat-option [value]="null">all</mat-option>
        <mat-option
          *ngFor="let semanticTag of semanticTags"
          [value]="semanticTag"
          >{{ semanticTag }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
</section>

<section class="overflow-y-auto overflow-x-hidden grow relative">
  <div
    *ngIf="snomedSearching"
    class="absolute flex flex-col justify-center items-center w-full h-full z-10 bg-[rgba(240,240,240,.5)]">
    <mat-spinner></mat-spinner>
    <span class="mt-4">searching...</span>
  </div>
  <table
    aria-label="Snomed Suggestions"
    mat-table
    [dataSource]="(snomeds | async) ?? []"
    class="shadow-xl shadow-transparent-3 min-w-full grow snomed-suggestion-table relative">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef scope="col">Code</th>
      <td mat-cell *matCellDef="let element" class="whitespace-nowrap">
        {{ element.snomed }}
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef scope="col">Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>
    <tr
      mat-header-row
      *matHeaderRowDef="['id', 'description']"
      class="sticky top-0"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['id', 'description']"
      (click)="clickOnRow(row)"
      class="cursor-pointer hover:bg-grey-200 select-text"
      [class.selected-snomed]="selectedSnomed?.snomed === row.snomed"></tr>
  </table>
  <section class="m-0 justify-center flex">
    <span class="m-2 text-center">
      The SNOMED you are looking for is not in the List? <br />
      Use the search above to find other codes
    </span>
  </section>
</section>

<section class="flex flex-row w-full max-w-full items-center justify-between">
  <div class="grow m-2 flex flex-col items-start justify-center">
    <h4>Selected SNOMED:</h4>
    <p class="select-text">
      {{ selectedSnomed?.description || "-" }}
    </p>
  </div>

  <mat-form-field appearance="fill" class="px-2 m-2 self-end bottom-padding">
    <mat-label>New Status {{ status }} </mat-label>
    <mat-select [(ngModel)]="status">
      <mat-option [value]="rowStatusEnum.SKIPPED"> not set </mat-option>
      <mat-option [value]="rowStatusEnum.MAPPED"> matched </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button (click)="confirm(false)">OK</button>
  <button mat-button (click)="skip()">open Next</button>
  <button mat-button (click)="confirm(true)">APPLY & OPEN NEXT</button>
</section>
