:host {
  width: 70vw;
  @apply bg-grey-100
  dark:bg-grey-800
  border-none
  flex
  flex-col
  bg-white
  items-center
  justify-start
  h-full
  max-h-full
  p-6
  rounded-5
  self-center
  dark:text-white
  m-0
  box-border;
}

section {
  background: #ffffff 0 0 no-repeat padding-box;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 4px;
  opacity: 1;
  margin: 2px;
  width: 100%;
}

.filter-text {
  margin: auto 8px;
}

::ng-deep.filter-active .mat-form-field-outline {
  color: darkmagenta;
}

.filter-active.mat-icon {
  color: darkmagenta;
}

::ng-deep.snomed-suggestion-table th {
  padding: 5px !important;
}

::ng-deep.snomed-suggestion-table td {
  padding: 5px !important;
}

.selected-snomed {
  @apply bg-grey-300
  text-purple;
}

.icon-in-table {
  font-size: 20px;
  height: 20px;
  width: 20px;
}

.bottom-padding {
  ::ng-deep .mat-form-field-wrapper {
    margin-bottom: -1.25rem;
  }
}
