<div class="w-full max-h-full flex flex-row flex-wrap overflow-scroll">
  <section
    class="flex flex-col items-center justify-start flex-1 shadow-xl shadow-transparent-2 bg-white overflow-auto m-4 min-w-fit">
    <app-file-drop-zone [(file)]="file"></app-file-drop-zone>

    <section
      class="flex flex-row justify-center items-center w-full py-4 w-fit"
      *ngIf="errorMessage">
      <p class="text-pink-600 font-bold mb-2 dark:text-pink-300">
        {{ errorMessage }}
      </p>
    </section>
    <section>
      <mat-form-field appearance="fill" class="m-2 bottom-padding">
        <mat-label>semantic content</mat-label>
        <mat-select [(ngModel)]="semanticTag">
          <mat-option [value]="''">unspecified</mat-option>
          <mat-option
            *ngFor="let semanticTag of semanticTags"
            [value]="semanticTag"
            >{{ semanticTag }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </section>
    <section class="flex flex-row justify-center items-center w-full p-4 w-fit">
      <div class="flex flex-col items-start justify-start max-w-1/2 min-w-150">
        <div class="flex flex-row items-center justify-between w-full my-1">
          <span class="flex flex-row justify-start items-center mr-4">
            <mat-icon
              matTooltip="select if your csv contains column headers in the first row"
              class="text-grey-900 cursor-pointer mr-1 dark:text-white hover:text-purple-400 dark:hover:text-purple-400">
              info_outline
            </mat-icon>
            <p class="whitespace-nowrap p-0 m-0">Data file contains headers</p>
          </span>
          <mat-slide-toggle
            color="primary"
            [(ngModel)]="headersIncluded"></mat-slide-toggle>
        </div>
      </div>
      <mat-form-field appearance="fill" class="px-4">
        <mat-label> Separator </mat-label>
        <mat-select [(value)]="selectedSeparator">
          <mat-option
            *ngFor="let separator of availableSeparators"
            [value]="separator">
            {{ separator.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>
  </section>
</div>
<button
  mat-raised-button
  class="self-end"
  color="primary"
  type="button"
  (click)="uploadFile()"
  [disabled]="!file">
  Upload File
</button>
