:host {
  @apply max-w-full
  flex-row
  w-full
  flex;
}

.sticky-header {
  position: sticky;
  top: 58px;
}
.snomed-table-header {
  text-align: left;
  background-color: white;

  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: 0;
  color: #757575;
  opacity: 1;
}

.snomed-table-cell {
  text-align: left;
  font-style: normal;
  font-variant: normal;
  letter-spacing: 0;
  opacity: 1;
}

.snomed-unmatched {
  color: #b8b8b8;
}

.shadow-left {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  clip-path: inset(0 0 0 -15px);
}
