<div
  *ngFor="let column of columns; index as i"
  class="items-center justify-start grow bg-white">
  <header
    class="p-4 m-0 whitespace-nowrap snomed-table-header text-black h-12"
    [class.sticky-header]="editable">
    {{ column.header }}
  </header>
  <hr class="mw-divider h-1" />
  <ng-container *ngFor="let row of rows; last as last">
    <p
      class="h-12 m-0 p-4 grow w-full justify-center items-start whitespace-nowrap snomed-table-cell text-lg leading-6 text-black select-text">
      {{ row.values[i] }}
    </p>
    <hr *ngIf="!last" class="mw-divider" />
  </ng-container>
</div>
<div
  class="items-start justify-center sticky right-0 bg-white border-l-[#EEEEEE] border-l-2 shadow-left">
  <div class="flex flex-row">
    <div>
      <header
        class="p-4 m-0 whitespace-nowrap snomed-table-header h-12"
        [class.sticky-header]="editable">
        SNOMED
      </header>
      <hr class="mw-divider h-1" />
      <ng-container *ngFor="let row of rows; last as last">
        <p
          [matTooltipDisabled]="!row.snomedDescription"
          [matTooltip]="row.snomedDescription ?? ''"
          class="flex flex-row h-12 m-0 p-4 grow w-32 justify-start items-center whitespace-nowrap snomed-table-cell text-lg leading-6 text-black select-text text-ellipsis"
          [class.snomed-unmatched]="row.status !== 'mapped'">
          <span class="text-ellipsis overflow-hidden">
            {{ row.snomed }}
          </span>
        </p>
        <hr *ngIf="!last" class="mw-divider" />
      </ng-container>
    </div>
    <div>
      <header
        class="p-4 m-0 whitespace-nowrap snomed-table-header h-12"
        [class.sticky-header]="editable">
        Description
      </header>
      <hr class="mw-divider h-1" />
      <ng-container *ngFor="let row of rows; last as last">
        <p
          [matTooltipDisabled]="!row.snomedDescription"
          [matTooltip]="row.snomedDescription ?? ''"
          class="flex flex-row h-12 m-0 p-4 grow w-32 justify-start items-center whitespace-nowrap snomed-table-cell leading-6 text-black select-text"
          [class.snomed-unmatched]="row.status !== 'mapped'">
          <span class="text-ellipsis overflow-hidden">{{
            row.snomedDescription
          }}</span>
        </p>
        <hr *ngIf="!last" class="mw-divider" />
      </ng-container>
    </div>
    <div>
      <header
        class="p-4 m-0 whitespace-nowrap snomed-table-header h-12"
        [class.sticky-header]="editable">
        Status
      </header>
      <hr class="mw-divider h-1" />
      <ng-container *ngFor="let row of rows; last as last">
        <p
          class="flex flex-row h-12 m-0 p-4 grow justify-start items-center whitespace-nowrap w-32">
          <span
            *ngIf="row.status === rowStatusEnum.MAPPED"
            class="text-success flex flex-row items-center">
            matched
            <mat-icon class="text-inherit">check</mat-icon>
          </span>
          <span *ngIf="row.status !== rowStatusEnum.MAPPED">
            {{ row.status }}
          </span>
        </p>
        <hr *ngIf="!last" class="mw-divider" />
      </ng-container>
    </div>
    <div *ngIf="editable">
      <header class="p-4 m-0 whitespace-nowrap snomed-table-header h-12">
        &nbsp;
      </header>
      <hr class="mw-divider h-1" />
      <ng-container *ngFor="let row of rows; last as l">
        <p
          class="h-12 m-0 p-4 grow w-full justify-center items-start whitespace-nowrap"
          (click)="openSnomedSelectionDialog(row)">
          <mat-icon
            class="cursor-pointer"
            matTooltipPosition="below"
            matTooltip="Click to edit SNOMED Matching">
            edit
          </mat-icon>
        </p>
        <hr *ngIf="!l" class="mw-divider" />
      </ng-container>
    </div>
  </div>
</div>
