<section
  *ngIf="isFileDragged && !isFileCsv"
  class="flex flex-col flex-1 p-8 h-full items-center justify-center border-4 rounded-5 border-dashed border-grey-400"
  (dragover)="$event.preventDefault()"
  (drop)="fileDropped($event)">
  <p
    class="flex flex-col h-1/3 w-1/2 justify-center items-center text-grey-400 text-xl font-bold pointer-events-none">
    Drop file here
    <ng-content></ng-content>
  </p>
</section>

<section
  *ngIf="!isFileDragged && !isFileCsv"
  class="flex flex-col items-center justify-center flex-1 p-8 bg-none h-full text-center">
  <div>
    <p class="text-grey-500 font-bold mb-2 dark:text-grey-100 text-center">
      Drag your data file here or choose manually
    </p>

    <p class="text-grey-500 text-sm mb-2 dark:text-grey-100"></p>
    <input
      #fileInput
      class="mw-input-file w-full"
      type="file"
      [accept]="accept"
      (change)="fileSelected($event)" />
  </div>
</section>
<section
  *ngIf="this.file && isFileCsv"
  class="mw-card flex flex-row justify-between items-center text-lg min-w-150">
  <img
    src="../../../../../assets/img/csvLogo.png"
    alt="csv logo"
    class="my-0 mr-2 ml-0 p-0 h-20" />
  <div class="flex flex-col items-start justify-start mx-2 p-0">
    <span class="">{{ this.file.name }}</span>
    <span class="text-grey-400 text-sm">{{ this.fileSizeText }}</span>
  </div>
  <mat-icon
    class="cursor-pointer transition ml-4 mr-2 text-xl"
    [inline]="true"
    (click)="deleteFile()">
    clear
  </mat-icon>
</section>
