<ng-container *ngIf="tableData$ | async as tableData; else loading">
  <section class="self-start pl-4">
    Select the coloumns that contain descriptions by clicking on them
  </section>
  <section
    class="flex flex-col flex-grow items-start shadow-xl shadow-transparent-2 bg-white overflow-auto w-full m-5">
    <table class="text-left w-full cursor-pointer">
      <tr *ngIf="tableData.headersIncluded">
        <th
          scope="col"
          *ngFor="let column of tableData.columns; let index = index"
          class="sticky top-0"
          (click)="toggleColumnSelection(index)"
          [class]="selectedColumns.has(index) ? 'selected' : 'bg-white'">
          <h2
            class="text-lg text-grey-400 px-4 pt-8 whitespace-nowrap font-medium h-16"
            [class.selected]="selectedColumns.has(index)">
            {{ column.header }}
          </h2>
        </th>
      </tr>
      <tr
        *ngFor="let row of tableData.rows"
        class="border-t-2 border-t-grey-100">
        <td
          *ngFor="let value of row.values; let index = index"
          class="p-4 align-text-top"
          [class.selected]="selectedColumns.has(index)"
          (click)="toggleColumnSelection(index)">
          {{ value }}
        </td>
      </tr>
    </table>
  </section>
  <section class="ml-auto">
    <button
      mat-raised-button
      color="primary"
      class="self-end"
      [disabled]="!selectedColumns.size"
      (click)="submit()">
      Finish
    </button>
  </section>
</ng-container>
<ng-template #loading> <mat-spinner></mat-spinner> </ng-template>
