@use "@angular/material" as mat;

@import "typography.scss";

$text-dark: rgba(0, 0, 0, 1);
$text-light: rgba(255, 255, 255, 1);

$medicalvalues-violet: (
  50: #fcf7ff,
  100: #f1e9f6,
  200: #dac4f7,
  300: #b38ccf,
  400: #8751ae,
  500: #5c068c,
  600: #480f6c,
  700: #41115d,
  800: #371349,
  900: #2a073c,
  A100: #b135f6,
  A200: #ba4df7,
  A400: #c466f8,
  A700: #0c0112,
  contrast: (
    50: $text-dark,
    100: $text-dark,
    200: $text-dark,
    300: $text-light,
    400: $text-light,
    500: $text-light,
    600: $text-light,
    700: $text-light,
    800: $text-light,
    900: $text-light,
    A100: $text-dark,
    A200: $text-dark,
    A400: $text-dark,
    A700: $text-light,
  ),
);

$medicalvalues-blue: (
  50: #f9fafe,
  100: #edeff8,
  200: #d6dbef,
  300: #aab6e8,
  400: #5261c7,
  500: #1e22aa,
  600: #0e1d85,
  700: #111e62,
  800: #121b46,
  900: #001239,
  A100: #2226c0,
  A200: #1e22aa,
  A400: #1a1e94,
  A700: #6468e4,
  contrast: (
    50: $text-light,
    100: $text-light,
    200: $text-light,
    300: $text-light,
    400: $text-light,
    500: $text-light,
    600: $text-light,
    700: $text-light,
    800: $text-light,
    900: $text-dark,
    A100: $text-light,
    A200: $text-light,
    A400: $text-light,
    A700: $text-dark,
  ),
);

$medicalvalues-pink: (
  50: #fff8fc,
  100: #fbf0f6,
  200: #f1cce3,
  300: #ee82b8,
  400: #e23b85,
  500: #ce0058,
  600: #b70350,
  700: #8d0041,
  800: #661c3e,
  900: #530b30,
  A100: #ff68a8,
  A200: #ff81b7,
  A400: #ff9bc6,
  A700: #4e0022,
  contrast: (
    50: $text-dark,
    100: $text-dark,
    200: $text-dark,
    300: $text-dark,
    400: $text-dark,
    500: $text-light,
    600: $text-light,
    700: $text-light,
    800: $text-light,
    900: $text-light,
    A100: $text-dark,
    A200: $text-dark,
    A400: $text-dark,
    A700: $text-dark,
  ),
);
$medicalvalues-warn: (
  100: #f53447,
  500: #8d0014,
  700: #56040d,
  contrast: (
    500: $text-light,
  ),
);

$primary: mat.define-palette($medicalvalues-violet);
$accent: mat.define-palette($medicalvalues-blue);
$warn: mat.define-palette($medicalvalues-warn);

$medicalvalues-typography: mat.define-typography-config(
  $font-family: "noto-sans",
);

$medicalvalues-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: $medicalvalues-typography,
  )
);

$medicalvalues-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: $medicalvalues-typography,
  )
);

$medicalvalues-typography: mat.define-typography-config(
  $font-family: '"noto-sans",sans-serif',
);
