@font-face {
  font-family: "noto-sans";
  src: url("./fonts/NotoSans-Light.woff2") format("woff2"),
    url("./fonts/NotoSans-Light.woff") format("woff"),
    url("./fonts/NotoSans-Light.ttf") format("ttf");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "noto-sans";
  src: url("./fonts/NotoSans-LightItalic.woff2") format("woff2"),
    url("./fonts/NotoSans-LightItalic.woff") format("woff"),
    url("./fonts/NotoSans-LightItalic.ttf") format("ttf");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "noto-sans";
  src: url("./fonts/NotoSans-Medium.woff2") format("woff2"),
    url("./fonts/NotoSans-Medium.woff") format("woff"),
    url("./fonts/NotoSans-Medium.ttf") format("ttf");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "noto-sans";
  src: url("./fonts/NotoSans-MediumItalic.woff2") format("woff2"),
    url("./fonts/NotoSans-MediumItalic.woff") format("woff"),
    url("./fonts/NotoSans-MediumItalic.ttf") format("ttf");
  font-display: auto;
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "noto-sans";
  src: url("./fonts/NotoSans-Bold.woff2") format("woff2"),
    url("./fonts/NotoSans-Bold.woff") format("woff"),
    url("./fonts/NotoSans-Bold.ttf") format("ttf");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "noto-sans";
  src: url("./fonts/NotoSans-BoldItalic.woff2") format("woff2"),
    url("./fonts/NotoSans-BoldItalic.woff") format("woff"),
    url("./fonts/NotoSans-BoldItalic.ttf") format("ttf");
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}
