<p class="font-bold mb-8">
  Your improved data file is ready. Click the button below to download it.
</p>

<p>
  <button
    mat-raised-button
    color="primary"
    [disabled]="isLoading"
    (click)="downloadCsv()">
    <span class="flex-row flex items-center">
      <mat-spinner *ngIf="isLoading" diameter="24"></mat-spinner>
      Download Data File
    </span>
  </button>
</p>
<p>
  <a mat-button color="primary" [routerLink]="['/']"> Map another file </a>
</p>
