:host {
  @apply w-full;
}

mat-stepper {
  @apply bg-none
  flex
  flex-col
  w-full
  p-0;
}

::ng-deep .mat-select-panel {
  @apply flex-1
  border-2
  border-blue-500
  p-0;
}

:host ::ng-deep .mat-horizontal-content-container {
  display: none;
}
::ng-deep .mat-horizontal-stepper-header {
  // disable changing step with click on stepper
  pointer-events: none !important;
}
