<mat-stepper #snomedMapperStepper color="primary" class="w-full bg-none">
  <mat-step [editable]="false" color="primary" *ngFor="let step of steps">
    <ng-template matStepLabel>{{ step.description }}</ng-template>
  </mat-step>
</mat-stepper>
