@use "@angular/material" as mat;
@use "assets/theme/medicalvalues" as mv;

@include mat.core();

@import "~@angular/material/theming";
@import "assets/theme/typography.scss";

@include mat.all-component-themes(mv.$medicalvalues-theme);

.dark {
  @include mat.all-component-colors(mv.$medicalvalues-dark-theme);
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  @apply bg-grey-100
  box-border
  dark:text-white
  font-['noto-sans']
  font-normal
  font-sans
  h-screen
  m-0
  overflow-hidden
  p-0
  relative
  select-none
  text-base
  text-black
  w-screen;
}

*::-webkit-scrollbar {
  @apply h-2
  w-2;
}

*::-webkit-scrollbar-track {
  @apply bg-none;
}

*::-webkit-scrollbar-thumb {
  @apply bg-purple-500
  rounded;
}

h1 {
  @apply font-medium
  text-xl;
}

h2 {
  @apply font-medium
  text-lg;
}

h3 {
  @apply font-medium
  text-base;
}

h4 {
  @apply font-medium
  text-sm;
}

button {
  @apply font-medium
  text-sm
  uppercase;

  .mat-button-focus-overlay {
    @apply bg-white;
  }
}

button:hover {
  .mat-button-focus-overlay {
    @apply opacity-20;
  }
}

.mat-stepper-horizontal {
  @apply bg-inherit
  overflow-visible;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  @apply border-purple;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  @apply bg-purple;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  @apply bg-purple;
}

.custom-dialog-container .mat-dialog-container {
  @apply bg-colorless
  m-0
  p-0;
}

::ng-deep .mat-form-field .mat-form-field-subscript-wrapper {
  @apply overflow-y-visible;
}

.mw-card {
  @apply bg-white
  border
  border-grey-200
  border-solid
  dark:bg-grey-800
  dark:border-grey-900
  dark:shadow-lg
  p-4
  rounded-5
  shadow-md
  shadow-transparent-3;
}

.mw-avatar {
  @apply rounded-full
  cursor-pointer
  p-0
  m-0
  shadow-sm
  shadow-transparent-3
  overflow-hidden;
}

.mw-input {
  @apply bg-colorless
  border
  border-solid
  border-grey-300
  ease-in-out
  font-normal
  m-0
  px-3
  py-1.5
  rounded-5
  text-base
  text-grey-700
  transition
  outline-purple-900
  outline-0
  focus:text-grey-700
  focus:border-purple-900
  dark:text-white;
}

.mw-textarea {
  @apply block
  border
  border-grey-300
  bg-colorless
  border-solid
  ease-in-out
  font-normal
  m-0
  px-3
  py-1.5
  rounded-5
  text-base
  text-grey-700
  transition
  focus:text-grey-700
  focus:border-purple-900
  focus:outline-none
  dark:text-white;
}

.mw-dropdown {
  @apply border
  border-solid
  border-grey-300
  bg-colorless
  ease-in-out
  font-normal
  m-0
  py-1.5
  rounded-5
  text-base
  text-grey-700
  transition
  dark:text-white
  focus:text-grey-700
  focus:border-purple-900
  focus:outline-none;
}

.mw-option {
  @apply dark:bg-grey-900
  dark:text-white;
}

.mw-divider {
  @apply w-full
  h-0.5
  bg-grey-100
  dark:bg-grey-600
  border-none;
}

.mw-divider-vert {
  @apply h-full
  w-0.5
  bg-grey-100
  dark:bg-grey-600;
}

.mw-menu {
  @apply bg-white
  dark:bg-grey-900;
}

.mw-input-file {
  @apply bg-colorless
  border
  border-solid
  border-grey-300
  ease-in-out
  font-normal
  m-0
  px-0
  py-0
  rounded-5
  text-base
  text-grey-700
  transition
  outline-purple-900
  outline-0
  focus:text-grey-700
  focus:border-purple-900
  dark:text-white
  cursor-pointer
  h-12
  w-1/2;
}

.mw-input-file::file-selector-button {
  @apply border-none
  h-full
  m-0
  bg-grey-200
  shadow-sm
  dark:bg-grey-700
  cursor-pointer
  hover:bg-grey-300
  rounded-l-5
  mr-2
  font-normal
  dark:text-white;
}
